extends baseEmail 

block content 
    p Hello #{firstName},
    p A little birdy told use that you have forgotten your password? Well dont fret! Please copy and paste the following link into the new window that should have opened.
    p Your reset code:  #{url}
    p Dont delay, its only valid for 10 minute! 
    p All the best 
    p Website team.