extends baseEmail 

block content 
    p Good day!
    p This is an email to say that you payment was succsesfully taken by us! 
    p THank you for your service and payment.
    p Have a great day.
    p Russell